<ion-view view-title="Piano"> 
  <ion-content>
    <div class="card">
    <center>
      <img id="bt1" src="img/genji.png" class="slidein botones" style=" " ng-click="boton(1)">
      <img id="bt2" src="img/phara.png" class="slidein botones" style=" " ng-click="boton(2)">
      <img id="bt3" src="img/76.png" class="slidein botones" style=" " ng-click="boton(3)">
      <img id="bt4" src="img/hanzo.png" class="slidein botones" style=" " ng-click="boton(4)">
      <img id="bt5" src="img/widow.png" class="slidein botones" style=" " ng-click="boton(5)">
      <img id="bt6" src="img/dva.png" class="slidein botones" style=" " ng-click="boton(6)">
      <img id="bt7" src="img/zarya.png" class="slidein botones" style=" " ng-click="boton(7)">
      <img id="bt8" src="img/mercy.png" class="slidein botones" style=" " ng-click="boton(8)">
      <img id="bt9" src="img/zenyatta.png" class="slidein botones" style=" " ng-click="boton(9)">
    </center>
    </div>
    <button class="button button-block button-assertive" ng-click="guarSec()">Guardar Secuencia</button>
    <button class="button button-block button-assertive" ng-click="repSec()">Reproducir Secuencia</button>
  </ion-content>
</ion-view>


